<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>

    <title>Battery Webpage - index.ejs</title>
  </head>

  <body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <form method="POST" action="/">
        <div class="row">
          <div class="col-md-3 container">
            Select an element for cell A:
            <select name="input_a" class="input form-control"> 
              <% for(var i = 0; i < elemOptions.length; i++) { %>
                <option><%= elemOptions[i].elementname %></option>
              <% }; %>
            </select>
          </div>
          <div class="col-md-6">
            <!-- <img class="img-fluid" src="battery1.png"> -->
          </div>
          <div class="col-md-3 container">
            Select an element for cell B:
            <select name="input_b" class="input form-control"> 
              <% for(var i = 0; i < elemOptions.length; i++) { %>
                <option><%= elemOptions[i].elementname %></option>
              <% }; %>
            </select>
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Cell A</h4>
          <ul class="list-group text-left">
            <li class="list-group-item">element: <%= elemName_A %></li>
            <li class="list-group-item">atomic number: <%= atomNum_A %></li>
            <li class="list-group-item">electrode potential: <%= stndElecPot_A %></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Cell B</h4>
          <ul class="list-group text-left">
            <li class="list-group-item">element: <%= elemName_B %></li>
            <li class="list-group-item">atomic number: <%= atomNum_B %></li>
            <li class="list-group-item">electrode potential: <%= stndElecPot_B %></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Results</h4>
          <ul class="list-group text-left">
            <!-- Use some technique called "scaling" to deal with rounding issues https://stackoverflow.com/questions/11832914/round-to-at-most-2-decimal-places-only-if-necessary -->
            <li class="list-group-item">Cell potential (Ecell, V): <%= Math.round(ecell * 100) / 100 %> </li>
            <li class="list-group-item">Positive (+) terminal: </li>
            <li class="list-group-item">Negative (-) terminal: </li>
          </ul>
        </div>
      </div>

      <% include ../partials/footer.ejs %>
  </body>
</html>