<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <h2>Input</h2>
      <form id="index-form" method="POST" action="/">
        <label for="input_a">A: </label>
        <input type="text" name="input_a" /><br>

        <label for="input_b">B: </label>
        <input type="text" name="input_b" /><br>

        <input type="submit" value="submit" class="input" />
      </form>

      <!-- <a type="button" class="btn btn-lg btn-default" href="asdf"><span class="glyphicon glyphicon-flash"></span> Cell A</a> -->
      <!-- <a type="button" class="btn btn-lg btn-primary" href="asdf"><span class="glyphicon glyphicon-download"></span> Cell B</a> -->
    </div>
  <div class="container">
    <div class="alert alert-info text-center" role="alert">
      Text
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-info-sign"></span> Cell A</h3>
        <ul>
          <li>element: <%= result_en_a %></li>
          <li>atomic number: <%= result_an_a %></li>
          <li>standard electrode potential: <%= result_sep_a %></li>
        </ul> 
      </div>
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-link"></span> Cell B</h3>
        <ul>
          <li>element: <%= result_en_b %></li>
          <li>atomic number: <%= result_an_b %></li>
          <li>standard electrode potential: <%= result_sep_b %></li>
        </ul>
        <h3><span class="glyphicon glyphicon-link"></span> Results</h3>
        <ul>
          <li>Cell potential (Ecell, V): </li>
          <li>Anode: </li>
          <li>Cathode: </li>
        </ul>
      </div>
    </div> <!-- row -->
    <div class="alert alert-info text-center" role="alert">
      footer
    </div>
  </div>

  </body>
</html>