<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <h2>Input</h2>
  <form id="index-form" method="POST" action="/test">
    X:
    <select name="input_x" class="input"> 
      <% for(var i = 0; i < elemOptions.length; i++) { %>
        <option><%= elemOptions[i].elementname %></option>
      <% }; %>
    </select><br>

    Y:
    <select name="input_y" class="input"> 
      <% for(var i = 0; i < elemOptions.length; i++) { %>
        <option><%= elemOptions[i].elementname %></option>
      <% }; %>
    </select><br>

    <input type="submit" value="submit" />
  </form>

  <h3>Result:</h3>
  <div>
    <h4>Cell X</h4>
    <ul>
      <li>element: <%= elemName_X %></li>
      <li>atomic number: <%= atomNum_X %></li>
      <li>standard electrode potential: <%= stndElecPot_X %></li>
    </ul>

    <h4>Cell Y</h4>
    <ul>
      <li>element: <%= elemName_Y %></li>
      <li>atomic number: <%= atomNum_Y %></li>
      <li>standard electrode potential: <%= stndElecPot_Y %></li>
    </ul>

    <h4>Results</h4>
    <ul>
      <li>Cell potential (Ecell, V): </li>
      <li>Anode: </li>
      <li>Cathode: </li>
    </ul>
  </div>

</body>
</html>

<!-- <select id="dd1" class="element-input"> 
    <option value="copper">Copper</option>
    <option value="zinc">Zinc</option>
</select> -->

<!-- <label for="input_y">Y: </label>
<input type="text" name="input_y" /><br> -->