<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>

    <title>Battery Webpage - test.ejs</title>
  </head>

  <body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <form method="POST" action="/test">
        <div class="row">
          <div class="col-md-3 container">
            Select an element for cell X:
            <select name="input_x" class="input form-control"> 
              <% include ../partials/elementOptions.ejs %>
            </select>
          </div>
          <div class="col-md-6">
            <!-- <img class="img-fluid" src="battery1.png"> -->
          </div>
          <div class="col-md-3 container">
            Select an element for cell Y:
            <select name="input_y" class="input form-control"> 
              <% include ../partials/elementOptions.ejs %>
            </select>
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Cell X</h4>
          <ul class="list-group text-left">
            <li class="list-group-item">element: <%= cell_X.elementname %></li>
            <li class="list-group-item">atomic number: <%= cell_X.atomicnumber %></li>
            <li class="list-group-item">electrode potential: <%= cell_X.sep %></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Cell Y</h4>
          <ul class="list-group text-left">
            <li class="list-group-item">element: <%= cell_Y.elementname %></li>
            <li class="list-group-item">atomic number: <%= cell_Y.atomicnumber %></li>
            <li class="list-group-item">electrode potential: <%= cell_Y.sep %></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Results</h4>
          <ul class="list-group text-left">
            <!-- Use some technique called "scaling" to deal with rounding issues https://stackoverflow.com/questions/11832914/round-to-at-most-2-decimal-places-only-if-necessary -->
            <li class="list-group-item">Cell potential (Ecell, V): <%= Math.round(ecell * 100) / 100 %> </li>
            <li class="list-group-item">Positive (+) terminal: <%= posTerminal %></li>
            <li class="list-group-item">Negative (-) terminal: <%= negTerminal %></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Test Output</h4>
          <ul class="list-group text-left">
            <li class="list-group-item">1: <%= elemOptions %> </li>
            <li class="list-group-item">2: <%= elemOptions[0] %> </li>
            <li class="list-group-item">3: <%= cell_X %> </li>
          </ul>
        </div>
      </div>

      <% include ../partials/footer.ejs %>
  </body>
</html>